@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
    font-family:'Poppins', sans-serif;
}

/* navbar styles */
.navbar .bg-dark{
    background-color: #131313 !important; 
}

.navbar .navbar-brand{
    font-weight: 700;
}

.navbar .nav-link{
    font-weight: 500;
    color: white;
    text-transform: uppercase;
}


/* hero styles */
.sayur2 .card-title{
    margin-top: 150px;
}


/* menu styles */
.produk {
    background-color: #121212;
}

.produk .section-title{
    font-weight: 700;
    color: #131313;
}

.produk .section-paragraf{
    font-weight: 700;
    color: #131313;
}

.produk .card {
    background-color: #e7c90b;
    color: #121212;
}

.produk .card img {
    border: 2px solid #000000;
}

.produk .card .card-title {
    margin-top: 20px;
    font-weight: 500;
}

.produk .card .btn{
    font-weight: 700;
}


/* Testimoni Styles */
.testimoni {
    background-image: url('assetstugas/sayur3.jpeg');
    background-size: cover;
    height: 450px;
}

.testimoni img{
    margin-top: 50px;
    width: 130px;
}

.testimoni .blockquote {
    font-weight: 500;
}

.testimoni .blockquote-footer {
    font-weight: 700;
    font-size: 20px;
}


/* Footer Styles */
footer {
    background-color: #131313;
}